/* App.css */
.app-container {
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 20%;
  height: 105%;
  background-color: rgb(235, 235, 235);
  color: rgb(55, 53, 47);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar ul li {
  margin-bottom: 15px;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgb(55, 53, 47);
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: rgb(225, 225, 225);
  color: black;
  padding-left: 15px;
}

.sidebar ul li:active,
.sidebar ul li a.active {
  background-color: rgb(175, 175, 175);
}

.sidebar ul li:active .sidebar-icon,
.sidebar ul li a.active .sidebar-icon {
  stroke: rgb(55, 53, 47);
  /* fill: rgb(175, 175, 175); */ /* removed because it makes it look weird */
}

.sidebar-icon {
  margin-right: 10px;
  stroke: rgb(55, 53, 47);
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.sidebar.closed .sidebar-icon {
  margin-right: 0;
}

.sidebar.closed ul li a span {
  display: none;
}

.toggle-btn {
  background: none;
  border: none;
  color: rgb(55, 53, 47);
  cursor: pointer;
  padding: 5px;
  margin-right: 10px; /* aligns toggle button with other icons when sidebar closes */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.closed .sidebar-header {
  justify-content: center;
}


/* Main Content Styling */
.main-content {
  width: 100%;
  height: 105%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 53, 47);
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
}

.header p {
  font-size: 16px;
  font-weight: bold;
  color: rgb(55, 53, 47);
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  position: relative;
  padding-bottom: 30px; /* Add some space at the bottom for the link */
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card ul li {
  font-size: 14px;
  margin-bottom: 10px;
}

.card button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center; /* Center the button horizontally within the flex container */
  margin-top: auto; /* Push the button to the bottom of the card */
}

.card button:hover {
  background-color: rgb(175, 175, 175);
  color: rgb(55, 53, 47);
}

.card button:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Expandable card */

.read-more-link {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.read-more-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.card .read-more-link {
  position: absolute;
  bottom: 10px;
  left: 20px;
}


/* Navbar Styles */
.navbar {
  display: none; /* Hide by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(235, 235, 235);
  color: rgb(55, 53, 47);
  padding: 20px;
  z-index: 1000;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header h2 {
  margin: 0;
  font-size: 18px;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.navbar-menu.open {
  max-height: 5%;
}

.navbar-menu li {
  margin: 18px 0;
}

.navbar-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(55, 53, 47);
}

.navbar-icon {
  margin-right: 10px;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .navbar {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .main-content {
    margin-top: 60px; /* Adjust based on navbar height */
  }

  .app-container {
    flex-direction: column;
  }

  .dashboard-content {
    grid-template-columns: 1fr;
  }
}
