.login-container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
}

.login-box {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Input fields styling */
.inputbox input {
  background-color: #F2F2F7;
  border: 1px solid #D3D3D3;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.inputbox input:focus {
  outline: none;
  border: 1px solid;
}

/* Buttons styling */
.login-button {
  background-color: #0072b4;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #005585;
}

.login-button:active {
  background-color: #004166;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-box {
    padding: 20px;
  }

  .login-button, .google-button {
    padding: 12px;
    font-size: 16px;
  }

  .inputbox input {
    padding: 10px;
    font-size: 14px; 
  }
}

@media (min-width: 1200px) {
  .login-container {
    justify-content: center;
  }

  .login-box {
    max-width: 500px;
    padding: 50px;
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 0.5px; 
  background-color: #ccc;
}

.separator-text {
  padding: 0 10px;
  color: #999;
  font-size: 14px;
  white-space: nowrap;
}

/* Sign up section */
.signup-text {
  text-align: center;
  margin-top: 20px;
}

.signup-link {
  color: rgb(43, 131, 189);
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}