<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
</head>
<body>
    <nav>
        <h1 id="logo">Campus Safety</h1>
        <a id="dashboard-btn">Dashboard</a>
        <a id="notification-btn">Notifications</a>
    </nav>
    <main>
        <div id="popup" hidden="true">

        </div>
        <div>
            <h1 id="message">Share your location with emergency officials</h1>
            <div id="map">

            </div> 
        </div>
        <button>Share Location</button>
    </main>
</body>
</html>